* {
    --toggle-bg-dark: rgb(6, 6, 30);
    --toggle-bg-light: #c4bbbb;
    --svg-fill-light: rgb(109, 107, 106);
    --svg-fill-dark: var(--toggle-bg-light);
    --toggle-circle-light: rgb(230, 138, 46);
    --toggle-circle-dark: var(--primary-clr);
    --transition: all 300ms ease-in-out;
    --font-size-sm: 1rem;

    --bolt-clr: #4364f760;
    --grey: #C4C0D8;
    --white: rgba(216, 213, 213, 0.733);

    --dark-yellow: #e8e540;
    --dark-primary: #617efe;
    --dark-text2: #9592a7;
    --dark-text1: #ccd6f6;
    --dark-navy: #0d1225;

    --light-yellow: #e3e030;
    --light-primary: #4364f7;
    --light-text2: #6d7ba9;
    --light-text1: #233062;
    --light-navy: #05011a;
}
:root {
    color-scheme: light;
    --primary-clr: var(--light-primary);
    --secondary-clr: var(--light-yellow);
    --background-clr: var(--white);
    --scroll-bg-clr: var(--dark-navy);
    --scroll-clr: var(--white);
    --text-clr: var(--light-text1);
    --highlight-text: var(--light-text2);
    --icon-clr: var(--primary-clr);
    --name: var(--light-primary);
    --underline: var(--light-primary);
    --border: var(--light-primary);

    --svg-grey-fill: var(--svg-fill-light);
    --toggle-bg: var(--toggle-bg-light);
    --toggle-circle: var(--toggle-circle-light);
    --toggle-pos: 8px;
}

@media (prefers-color-scheme: dark) {
    :root{
        color-scheme: dark;
        --primary-clr: var(--dark-primary);
        --background-clr: var(--dark-navy);
        --text-clr: var(--dark-text1);
        --highlight-text: var(--dark-text2);
        --scroll-bg-clr: var(--white);
        --scroll-clr: var(--background-clr);
        --icon-clr: var(--dark-text1);
        --name: var(--light-primary);
        --underline: var(--dark-yellow);
        --border: var(--light-yellow);

        --svg-grey-fill: var(--svg-fill-dark);
        --toggle-bg: var(--toggle-bg-dark);--toggle-bg: var(--toggle-bg-dark);
        --toggle-circle: var(--toggle-circle-dark);
        --toggle-pos: 34px;
    }
}

[color-scheme="light"]{
    color-scheme: light;
    --primary-clr: var(--light-primary);
    --background-clr: var(--white);
    --text-clr: var(--light-text1);
    --highlight-text: var(--light-text2);
    --scroll-clr: var(--white);
    --scroll-bg-clr: var(--dark-navy);
    --icon-clr: var(--primary-clr);
    --name: var(--light-primary);
    --underline: var(--light-primary);
    --border: var(--light-primary);
    --svg-grey-fill: var(--svg-fill-light);
    --toggle-bg: var(--toggle-bg-light);
    --toggle-circle: var(--toggle-circle-light);
    --svg-grey-fill: rgb(134, 129, 124);
    --toggle-bg: var(--toggle-bg-light);
    --toggle-circle: var(--toggle-circle-light);
    --toggle-pos: 8px;
}

[color-scheme="dark"]{
    color-scheme: dark;
    --primary-clr: var(--dark-primary);
    --background-clr: var(--dark-navy);
    --text-clr: var(--dark-text1);
    --highlight-text: var(--dark-text2);
    --name: var(--light-primary);
    --icon-clr: var(--dark-text1);
    --scroll-bg-clr: var(--white);
    --scroll-clr: var(--background-clr);
    --underline: var(--dark-yellow);
    --border: var(--light-yellow);
    --svg-grey-fill: var(--svg-fill-dark);
    --toggle-bg: var(--toggle-bg-dark);--toggle-bg: var(--toggle-bg-dark);
    --toggle-circle: var(--toggle-circle-dark);
    --svg-grey-fill: rgb(134, 129, 124);
    --toggle-bg: var(--toggle-bg-dark);
    --toggle-circle: var(--toggle-circle-dark);
    --toggle-pos: 34px;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-family: 'Rokkitt', serif;
    font-size: 1.25rem;
    background-color: var(--background-clr);
    color: var(--text-clr);
}

h1, h2, h3, p {
    margin: 0;
}

/* a, a:visited {
    text-decoration: none;
} */

.wrapper {
    width: calc(100% - 4rem);
    max-width: 1000px;
    margin-inline: auto;
    margin-bottom: 2.5rem;
}

.txt-underline {
    text-decoration-line: underline;
    text-decoration-color: var(--underline);
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    color: var(--primary-clr);
    transition: var(--transition);
}

.txt-underline:active {
    background-color: var(--light-primary);
}

.heading-lvl-2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
}

#logo {
    font-family: rokkit;
    text-decoration: none;
    color: var(--primary-clr);
}

#logo svg{
    fill: var(--primary-clr);
}
.toggle {
    background-color: var(--toggle-bg);
    border-radius: 50px;
    padding: 0.55rem;
    display: flex;
    gap: 0.8rem;
    position: relative;
    cursor: pointer;
}

.toggle::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: var(--toggle-circle);
    border-radius: 50px;
    left: var(--toggle-pos);
    top: 7px;
    z-index: 0;
}

.icon-sun {
    z-index: 1;
}

.icon-sun *, .icon-moon *{
    fill: var(--svg-grey-fill);
    stroke: var(--svg-grey-fill);
}

 /*main*/

 #main {
    /* margin-top: 3rem; */
    text-align: center;
 }

.intro {
    font-size: 2.4rem;
    font-weight: 200;
    color: var(--dark-primary);
    margin-block: 2.25rem;
    letter-spacing: 2px;
    line-height: 1.3;
} 

.role-desc {
    line-height: 1.5;
    font-size: 1.2rem;
    color: var(--text-clr);
    padding: 1.5rem;
    border: 2px solid var(--dark-yellow);
    max-width: 400px;
    margin-inline: auto;
}

.location {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 0.5rem;
}

.location .loader {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--primary-clr);
    border-radius: 50%;
    position: relative;
}

.location p {
    font-size: 1.125rem;
}

.loader::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 2px solid var(--dark-primary);
    inset: 0;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}

.cta {
    display: inline-flex;
    gap: 1.25rem;
    margin-bottom: 3.5rem;
}
    
.hire-me {
    padding: 0.5rem 0.85rem;
    background-color: var(--dark-yellow);
    color: var(--light-text1);
    text-decoration: none;
    transition :var(--transition);
    border-radius: 5px;
}
.project-link {
    padding: 0.5rem 0.85rem;
    color: var(--dark-yellow);
    text-decoration: none;
    border: 2px solid var(--dark-yellow);
    border-radius: 5px;
}

.stack ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stack p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

.box {
    display: inline-block;
    margin-right: 1rem;
    padding: .25rem;
    /* width: fit-content; */
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--primary-clr);
    position: relative;
    margin-bottom: 0.5rem;
    border: 2px solid ;
    border-left-width: 5px;
}

.box-html {
    border-image-slice: 1;
    border-image-source:linear-gradient(to right, #e34f26, rgb(247, 163, 114));
}

.box-css {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #264de4, #2965f1);
}

.box-sass {
    border-image-slice: 1;
    border-image-source:linear-gradient(to right, rgb(228, 111, 169), rgb(247, 176, 176));
}

.box-js {
    border-image-slice: 1;
    border-image-source:linear-gradient(to right, #f7df1e, #fff);
}

.box-git {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #f1502f, #3e2c00);
}

.box-github {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #000000, #0a0909);
}

.box-figma {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #F24E1E, #FF7262, #A259FF, #1ABCFE, #0ACF83);
    border-style: solid;
}

.about-me{
    line-height: 1.5;
}

.about-img-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
    border: 2px solid var(--border);
}

.about-img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
 }
 .project {
    text-align: center;
 }
 .project-desc {
    padding: 1rem;
 }
 .project-desc-title {
    margin: 1rem;
 }

 .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
 }

 .project-item {
    border: 1px solid white;
    max-width: 450px;
 }

 .project-title {
    margin-bottom: 1.5rem;
 }

 .project-img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 120px;
 }

 .project-url {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    line-height: 1.3;
 }
 
 .link-arrow {
     width: 16px;
     display: block;
     color: var(--white);
}
    
.tag {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

 .tag span {
    background-color: #22242e;
    padding: 0.45rem;
    border-radius: 10px;
}

.view-code {
    width: 16px;
    height: 16px;
    fill: var(--white);
}

 .more {
    font-size: 1.2rem;
    margin-inline: auto;
    margin-block: 1.25rem;
}

.emoji {
    width: 20px;
    display: inline-block;
    stroke: var(--primary-clr);
}

.reach-out {
    margin-bottom: 2.5rem;
    /* font-size: var(--font-size-sm); */
}

.reach-out div{
    position: relative;
    background-color: hsla(229, 99%, 69%, 0.11);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid var(--primary-clr); */
    overflow: hidden;
}

.fold {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: var(--background-clr);
    border-top: 20px solid transparent;
    border-bottom: 20px solid var(--primary-clr);
    border-left: 20px solid var(--primary-clr);
    border-right: 20px solid transparent;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 5px 5px #051c2e;
}

.smiley-face {
    position: absolute;
    top: 134px;
    left: 5px;
    transform: rotate(45deg);
    z-index: -1;
    width: 70px;
    fill: transparent;
    stroke: hsla(47, 100%, 50%, 0.271);
}

.reach-out h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--dark-text1);
}

.reach-out p {
    margin-bottom: 1rem;
 }

 .lets-talk {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    display: inline-block;
    border: 2px solid var(--primary-clr);
    border-radius: 10px;
    color: var(--primary-clr);
    transition: var(--transition);
 }

 /*footer styles*/

 footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding-inline: auto;
    font-size: var(--font-size-sm);
    background-image: url(/Icons/bolt.svg);
    background-repeat: repeat;
    background-size: 10px 10px;
    background-origin: border-box;
    padding: 2rem;
 }
 .footer-bdy {

 }

 .bolt {
    fill: transparent;
    stroke: var(--primary-clr);
 }
 .logo-type {
    text-decoration: none;
    color: var(--primary-clr);
    font-size: 1.5rem;
    display: inline-block;
    width: fit-content;
    margin-inline: auto;
 }

 .other-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--secondary-clr);
    width: fit-content;
    margin-inline: auto;
 }

 .other-links a {
    display: inline-block;
 }

 .grid-social {
    display: flex;
    gap: 1rem;
    justify-content: center;
 }

/*social-media icon*/
 .sm-icon {
    width: 24px;
    height: 24px;
    display: block;
}

.sm-icon svg {
    fill: none;
    stroke: var(--text-clr);
    transition: 200ms ease-in-out;
 }

 .sm-icon svg:is(:focus, :hover){
    stroke: var(--primary-clr);
 }

 .sm-icon:active {
    background-color: #6d7ba9;
 }

 /*scroll to top button-positon fixed*/
#scroll-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    bottom: 20px;
    right: 20px;
    background-color: var(--scroll-bg-clr);
    cursor: pointer;
    z-index: 99;
}

.copyright {
    line-height: 1.5;
}

.to-top {
    transform: rotate(180deg);
    color: var(--scroll-clr);
}

.working {
    font-size: 3rem;
    color: white;
    background-color: red;
}

@media (min-width: 48em) {
    .wrapper {
        width: calc(100% - 6rem);
        max-width: 1000px;
        margin-inline: auto;
        margin-bottom: 2.5rem;
    }

    .project-list {
        flex-direction: row; 
        align-items: start;
        justify-content: space-between;
    }

    /*footer*/
    .footer-bdy {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .logo-type {
        text-align: left;
        width: fit-content;
        margin: 0;
    }

    .other-links {
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
        margin-right: 0;
    }

    .grid-social {
        grid-column: 2 / 3;
        justify-content: flex-end;
    }

    .copyright {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: left;
    }
}
